<body>
<div class="jumbotron">
    <h1>Welcome to Saathi!</h1>
    <p>
    	Connecting workforce to employers!
    </p>
    <p>
        <div class="btn-group" role="group" aria-label="...">
        <ul>
            <a class="btn btn-success" href="#/hire">Hire a skilled worker!</a>
        </div>
    </p>
</div>
<div class="row marketing">
    <h3>What we do?</h3>
    <p>
    	We provide skilled workforce to verified employers, thereby providing :
    	<ul>
    		<li>economical stability to the employees</li>
    		<li>providing financial transperancy to the employees</li>
    		<li>creating awareness amongst employees about our workflow and attracting employers by providing them hassle-free service for getting the workforce</li>
    	</ul>
    </p>
    <h3>Why we do?</h3>
    <p>
    	As we know that in rural parts of India and rural areas of many other places, there is a lack of Job and people tend to migrate to places in search for work and a lot of them get into trafficking.
    </p>
    <p>
    	We ultimately want to stop trafficking by providing them financial stability!
    </p>
    <h3>How we do?</h3>
    <p>
    	We have a hierarchical structure of verified people which provide jobs to rural workforce through a fully transparent system to the employees and employers which can be useful for our community and lead to a trafficking-free nation!
    </p>
</div>
<body>
