<h2>Enter NGO's Details</h2>
<div class="form-group" ng-submit="save()">
    <div ng-repeat="ngo in ngos.ngo">
        <div class="form-group">
            <h3>NGO {{$index}}<a ng-click="removeNgo($index, ngos)" class="btn btn-xs btn-danger pull-right">X</a></h3>
            <label class="control-label col-md-2">Name </label>
            <input type="text" class="form-control" ng-model="ngo.name" placeholder="Name" />
            <label class="control-label col-md-2">Location </label>
            <input type="text" class="form-control" ng-model="ngo.location" placeholder="Location" />
            <label class="control-label col-md-12">NGO Registration Number</label>
            <input type="text" class="form-control" ng-model="ngo.regno" placeholder="Registration Number" />
            <span style="line-height: 1.5;"><hr/></span>
            <span style="line-height: 1.5;"></span>
        </div>
    </div>
    <div class="col-md-offset-12">
        <a ng-click="addNgo()" class="btn btn-success btn-xs">+ Add Ngo </a>
    </div>
    <button class="btn btn-success">Submit</button>
    <p>&nbsp;</p>
    <label>Click on Profile Tab to look available NGO details!</label>
</div>